
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="hamburgers.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="icon" href="logo_c.ico">
    <title>Crisweb</title>
</head>
<body>
	
	<div class='top'>
		<form action='/addpromo' method='post' enctype='multipart/form-data' class="form-inline form" >
			<div class="form-group mb-2 ">
					<input type="file" readonly class="form-control-plaintext" name='photo' accept='image/*'>
			</div>
			<div class="form-group mx-sm-3 mb-2">
				<input type="text" name="nama" class="form-control" placeholder="Nama Menu">
			</div>
			<button type="submit" value='upload' class="btn btn-outline-warning mb-2" id='button'>Submit</button>
		</form>
	</div>
	

	<script>
		// Look for .hamburger
		var hamburger = document.querySelector(".hamburger");
		// On click
		hamburger.addEventListener("click", function() {
			// Toggle class "is-active"
			hamburger.classList.toggle("is-active");
			// Do something else, like open/close menu
		});
	</script>

	<div class="jumbotron" id="maintitle">
          <img class="mx-auto my-auto d-block align-self-center" src=index.png id="logo">
    </div>
    



<!-- 	
	<div class='col-sm-10'>

	</div> -->


	<div class="container-fluid" id="Contact_Us">
        <div class="display-3 text-center">
            <strong>Contact Us</strong>
        </div>
	</div>

	<div class="container-fluid" id="content_2">
		<div class="container">
			<div class="row" id="row_2">
				<div class="col" >
					<br>
					<p class="font_contact"><img src = "./logo/Telpon.png" width = 50vw height = auto>&nbsp Telepon</p>
					<p class="font_contact"><img src = "./logo/gmail.png" width = 50vw height = auto>&nbsp Email</p>
					<p class="font_contact"><img src = "./logo/Line.jpg" width = 50vw height = auto>&nbsp Line</p>
					<p class="font_contact"><img src = "./logo/Whatsapp.png" width = 50vw height = auto>&nbsp Whatsapp</p>
				</div>
			</div>
		</div>
	</div> 
	<div class="container-fluid" id="bottom">
		<div class = "row justify-content-center">
			<div class = "col-sm-6 col-md-4 col-lg-4 text-center">
				<p>CONNECT</p>
			</div>
			<div class = "col-sm-6 col-md-4 col-lg-4 text-center">
				<div class = "row">
					<div class="col-sm-4 col-md-4 col-lg-4 text-center">
					<a href="https://www.instagram.com/geprekcrisbar/">
						<img src = "./logo/instagram.png" width = 90vw height=auto>
					</a>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 text-center">
						<a href="https://www.facebook.com/geprekcrisbar/">
						<img src = "./logo/Facebook.png" width = 90vw height=auto>
						</a>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 text-center">
						<img src = "./logo/Linkedin.png" width = 90vw height = auto>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>